html,body{
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: min(max(12px, 4vw), 16px);
    line-height: min(max(28px, 4vw), 36px);
}
/* navbar styles */
.navbar{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.15); 
    /* height: 108px; */
}

.img-fluid{
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 18px;

}

.lucid{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    padding-left: 10px;
    padding-top: 35px;
    padding-right: 950px;

}


#notfy{
    padding-right:14px;
    padding-top:12px;
}

#nav-lady{
    padding-right: 0px;
    padding-top: 12px;
}

#nav-icon{
    padding-top:16px;
    padding-left:0px;
}

#select{
    border: #ffffff;
    color: #871E99;
}


/****
        NARBAR STYLES STOP
/* full section */
.full-section{
    display: flex;
    flex-direction: row;
    top: 0;
}
.sidebar{
    background: #871E99;
    text-align: center;
    width: 306px;
    height: 100%;
    color: #FFFFFF;
    /* position: fixed; */
    /* z-index: 1; */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
     top: 0; 
    /* left: 0; */
}
.profile-name{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}
.profile-title{
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
}
.follow-tag{
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.number-follow{
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
    color: #F2F2F2;
}
.list-item{
    display: flex;
    list-style-type: none;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
    align-items: center;
    /* padding: 5px; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;

}
.list-follow{
    background: #FFFFFF;
    border-radius: 15px 0px 0px 15px;
    color: #871E99;
}
.sideline{
    display: flex;
    flex-direction: row;
}
.mainbar{
    width: 100%;
    margin: 20px;
}
.slide{
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
    color: #454141;
}
.slide-follow{
    position: relative;
    color: rgba(135, 30, 153, 0.75);

}
.set-image{
    position: absolute;
    /* left: 10px;
    top: 25px; */
}
.sorting{
    display: flex;
    flex-direction: row;
}
.following{
    margin-right: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    color: #000000;
}
.sort-by{
    margin-left: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #867E7E;
}
.sort-image{
    padding-right: 4px;
    /* background: #867E7E; */
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.card{
    box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.25);
    border-radius: 8px;
    max-width: 100%;
    width: 280px;
    height: auto; 
    margin: 10px;
    /* flex-wrap: nowrap; */
    /* flex: 1; */
}
.card-profile{
    display: flex;
    flex-direction: row;
}
.card-text{
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: flex-start;
}
.text-name{
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    color: #871E99;
}
.text-post{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #201E1E;
}
.text-follow{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #867E7E;
}
.unfollow{
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
    color: #585050;
}
/* .card{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.25);
    border-radius: 8px;
    width: 291px;
    height: 157px;
    flex-direction: row;
} */